#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

.home__wrapper{
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link{
  color: var(--accent-color);
  font-weight: bold;
}
a{
  color: black;
}